/* colour pallet
    text: #fff;
    primary: #240090;
    secondary: #190061;
    dark: #0C0032;
    bright: #3500D3;
    grey: #282828;
*/

body {
    color: #fff;
}

.textWhite {
    color: #fff !important;
}

.bgPrimary {
    background-color: #240090;
}

.bgSecondary {
    background-color: #190061;
}

.bgDark {
    background-color: #0C0032;
}

.bgBright {
    background-color: #3500D3;
}

.bgGrey {
    background-color: #282828;
}